<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd">

    <bean id="DokanOptions" class="dokan.DokanOptions">
        <constructor-arg name="version" value="600"> </constructor-arg>
        <constructor-arg name="threadCount" value="0"></constructor-arg>
        <constructor-arg name="options" ref="prop"></constructor-arg>
        <constructor-arg name="globalContext" value="0"></constructor-arg>
        <constructor-arg name="mountPoint" ref="mountPoint"></constructor-arg>
    </bean>

    <bean id="volume" class="FileSystem.VirtualVolume">
        <constructor-arg name="mountPoint" value=""/>
        <constructor-arg name="fileSystemName" value="DokanFS"/>
        <constructor-arg name="size" value="1"/>
        <constructor-arg name="maximumComponentLength" value="255"/>
        <property name="name" value="DataCradle"/>
        <property name="serialNumber" value="0xDEAD"/>
    </bean>



    <bean id="prop" class="com.sun.jna.NativeLong">
        <constructor-arg value="32"></constructor-arg>
    </bean>

    <bean id="mountPoint" class="com.sun.jna.WString">
        <constructor-arg value="R"></constructor-arg>
    </bean>

    <bean id="VirtualFS" class="FileSystem.VirtualFS">
        <property name="createFile" ref="CreateFile"/>
        <property name="cleanup" ref="Cleanup"/>
        <property name="closeFile" ref="CloseFile"/>
        <property name="createDirectory" ref="CreateDir"/>
        <property name="deleteDirectory" ref="DeleteDir"/>
        <property name="deleteFile" ref="DeleteFile"/>
        <property name="findFiles" ref="FindFiles"/>
        <property name="flushBuffers" ref="FlushFileBuffers"/>
        <property name="getDiskFreeSpace" ref="GetDiskFreeSpace"/>
        <property name="getFileInformation" ref="FileInfotmation"/>
        <property name="getVolumeInformation" ref="VolumeInformation"/>
        <property name="moveFile" ref="MoveFile"/>
        <property name="openDirectory" ref="OpenDirectory"/>
        <property name="readFile" ref="ReadFile"/>
        <property name="allocationSize" ref="AllocSize"/>
        <property name="endOfFile" ref="EndFile"/>
        <property name="fileAttributes" ref="FileAttributes"/>
        <property name="fileTimes" ref="FileTimes"/>
        <property name="unmount" ref="Unmount"/>
        <property name="write" ref="Write"/>

    </bean>


    <bean id="CreateFile" class="FileSystem.systemoperations.CreateFile"/>
    <bean id="Cleanup" class="FileSystem.systemoperations.Cleanup"/>
    <bean id="CloseFile" class="FileSystem.systemoperations.CloseFile"/>
    <bean id="CreateDir" class="FileSystem.systemoperations.CreateDirectory"/>
    <bean id="DeleteDir" class="FileSystem.systemoperations.DeleteDirectory"/>
    <bean id="DeleteFile" class="FileSystem.systemoperations.DeleteFile"/>
    <bean id="FindFiles" class="FileSystem.systemoperations.FindFiles"/>
    <bean id="FlushFileBuffers" class="FileSystem.systemoperations.FlushBuffers"/>
    <bean id="GetDiskFreeSpace" class="FileSystem.systemoperations.GetDiskFreeSpace">
            <property name="volume" ref="volume"/>
    </bean>
    <bean id="FileInfotmation" class="FileSystem.systemoperations.GetFileInformation">
            <property name="volume" ref="volume"/>
    </bean>

    <bean id="VolumeInformation" class="FileSystem.systemoperations.GetVolumeInformation">
        <property name="volume" ref="volume"/>
    </bean>

    <bean id="MoveFile" class="FileSystem.systemoperations.MoveFile"/>
    <bean id="OpenDirectory" class="FileSystem.systemoperations.OpenDirectory"/>
    <bean id="ReadFile" class="FileSystem.systemoperations.ReadFile"/>
    <bean id="AllocSize" class="FileSystem.systemoperations.SetAllocationSize"/>
    <bean id="EndFile" class="FileSystem.systemoperations.SetEndOfFile"/>
    <bean id="FileAttributes" class="FileSystem.systemoperations.SetFileAttributes"/>
    <bean id="FileTimes" class="FileSystem.systemoperations.SetFileTimes"/>
    <bean id="Unmount" class="FileSystem.systemoperations.Unmount"/>
    <bean id="Write" class="FileSystem.systemoperations.WriteFile"/>



</beans>