<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="DokanOptions" class="dokan.DokanOptions">
        <constructor-arg name="version" value="600"> </constructor-arg>
        <constructor-arg name="threadCount" value="0"></constructor-arg>
        <constructor-arg name="options" ref="prop"></constructor-arg>
        <constructor-arg name="globalContext" value="0"></constructor-arg>
        <constructor-arg name="mountPoint" ref="mountPoint"></constructor-arg>
    </bean>

    <bean id="prop" class="com.sun.jna.NativeLong">
        <constructor-arg value="32"></constructor-arg>
    </bean>

    <bean id="mountPoint" class="com.sun.jna.WString">
        <constructor-arg value="R"></constructor-arg>
    </bean>

    <bean id="VirtualFS" class="FileSystem.VirtualFS">
        <property name="createFile" ref="CreateFile"/>
        <property name="cleanup" ref="Cleanup"/>
        <property name="closeFile" ref="CloseFile"/>
        <!--<property name="createDirectory"ref="CreateDir"/>-->
        <property name="deleteDirectory" ref="DeleteDir"/>
        <property name="deleteFile" ref="DeleteFile"/>
        <property name="findFiles" ref="FindFiles"/>

    </bean>


    <bean id="CreateFile" class="FileSystem.systemoperations.CreateFile"/>
    <bean id="Cleanup" class="FileSystem.systemoperations.Cleanup"/>
    <bean id="CloseFile" class="FileSystem.systemoperations.CloseFile"/>
    <bean id="CreateDir" class="FileSystem.systemoperations.CreateDirectory"/>
    <bean id="DeleteDir" class="FileSystem.systemoperations.DeleteDirectory"/>
    <bean id="DeleteFile" class="FileSystem.systemoperations.DeleteFile"/>
    <bean id="FindFiles" class="FileSystem.systemoperations.FindFiles"/>


</beans>